<launch>
  <master auto="start"/>
  <node pkg="az_body_tracker" name="az_body_tracker" type="az_body_tracker" output="screen">
      <rosparam file="$(find az_body_tracker)/params/params.yaml" command="load" />
  </node>
  <!-- <node pkg="az_body_tracker" name="tf_controller" type="transform_controller.py" output="screen"/> -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find az_body_tracker)/cfg/bt_rviz.rviz" />
  <node type="rqt_gui" name="rqt_gui" pkg="rqt_gui" output="screen" />

  <node pkg= "collabot_do" type="ac_pub_az_sub2.py" name="ac_converter">
    <param name="height_threshold" type="int" value="200"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="opencr">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>
  <node pkg= "collabot_do" type="sceinaro_make.py" name="sceinaro"/>
  <node pkg= "collabot_do" type="print_monitor.py" name="monitoring" output="screen"/>
</launch>

